<div class="mx-auto" style="width: 600px;">
  <h1 class="text-center">投稿詳細</h1>
      
  <!--ユーザー情報-->
  <div class="m-1 border border-dark">
    <%= link_to user_path(@user.id), style: "color: black; text-decoration: none;" do %>
      <div class="d-flex align-items-center">
        <span class="m-1"><%= image_tag @user.get_icon_image(100,100) %></span> 
        <h4 class="m-1"><%= @user.user_name %></h4>
      </div>
    <% end %>
  </div>    
  
  <!--編集ページ-->
  <div class="text-right">
    <% if @user == current_user %> 
      <span><%= link_to "編集", edit_post_path, class: "btn btn-outline-primary" %></span>
    <% end %>
  </div>
    
  <!--投稿詳細-->
  <div>
    <% if @post.post_image.present? %>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">ショップジャンル</p>
        <p class="m-1"><%= @post.shop_genre_i18n %></p>
      </div>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">店舗名</p>
        <p class="m-1"><%= @post.shop_name %></p>
      </div>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">住所</p>
        <p class="m-1"><%= @post.address %></p>
      </div>
      <div>
        <p class="text-center"><%= image_tag @post.post_image, size: "500x500" %></p>
      </div>
      <div>
        <p class="m-1 font-weight-bold" style="width: 150px;">テキスト</p>
        <p class="mx-1 p-1 border" style="width: auto; height: 100px;"><%= @post.posting_text %></p>
      </div>
    <% else %>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">ショップジャンル</p>
        <p class="m-1"><%= @post.shop_genre_i18n %></p>
      </div>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">店舗名</p>
        <p class="m-1"><%= @post.shop_name %></p>
      </div>
      <div class="d-flex">
        <p class="m-1 font-weight-bold" style="width: 150px;">住所</p>
        <p class="m-1"><%= @post.address %></p>
      </div>
      <div>
        <p class="m-1 font-weight-bold" style="width: 150px;">テキスト</p>
        <p class="mx-1 p-1 border" style="width: auto; height: 100px;"><%= @post.posting_text %></p>
      </div>
    <% end %>
  </div>
  
  <!--ブックマーク-->
  <div class="m-1">
    <% if @post.bookmarked_by?(current_user) %>
      <p>
        <%= link_to post_bookmark_path(@post), method: :delete do %>
          <i class="fa-solid fa-bookmark">ブックマークを外す</i>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to post_bookmarks_path(@post), method: :post do %>
          <i class="fa-regular fa-bookmark">ブックマークする</i>
        <% end %>
      </p>
    <% end %>
  </div>
  
  <!--コメント機能-->
  <div class="m-1">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment, rows: '4', style: 'width: 100%;', placeholder: "コメント" %>
      <p><%= f.submit "送信", class: "btn btn-outline-primary" %></p>
    <% end %>
  </div>
  
  <!--コメント欄-->
  <h3>コメント</h3>
  <div class="m-1 border border-dark">
    <% @post.comments.each do |comment| %>
      <div class="d-flex align-items-center">
        <p class="m-1"><%= image_tag @comment_user.get_icon_image(100,100) %></p>
        <p class="m-1"><%= @comment_user.user_name %></p>
      </div>
        <p class="m-1 border" style="width: auto; height: 100px;"><%= comment.comment %></p>
      <% if comment.user == current_user %>
        <button type="button" class="m-1 btn btn-danger">
          <%= link_to "コメント削除", post_comment_path(comment.post, comment), method: :delete %>
        </button>
      <% end %>
    <% end %>
  </div>
  
</div>
      
      
