<h1>ユーザーページ</h1>

<!--ユーザー情報-->
<div>
  <span><%= image_tag @user.get_icon_image(100, 100) %></span>
  <span><%= @user.user_name %></span>
  <span><%= @user.profile %></span>
</div>

<!--フォロー-->
<div>
  <% if current_user != @user %>
    <% if current_user.following?(@user) %>
      <p>
        <%= link_to user_follow_path(@user.id), method: :delete do %>
          <span class="btn btn-outline-primary">フォローを外す</span>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to user_follows_path(@user.id), method: :post do %>
          <spam class="btn btn-outline-primary">フォローする</spam>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>




<!--ユーザーの投稿情報-->
<div>
  <% @posts.each do |post| %>
    <% if post.post_image.present? %>
      <span><%= image_tag post.user.get_icon_image(100,100) %></span>
      <span><%= post.user.user_name %></span>
      <span><%= post.shop_genre_i18n %></span>
      <span><%= post.shop_name %></span>
      <span><%= post.address %></span>
      <span><%= image_tag post.post_image, size: "200×200" %></span>
      <span><%= post.posting_text %></span>
    <% else %>
      <span><%= post.user.icon_image %></span>
      <span><%= post.user.user_name %></span>
      <span><%= post.shop_genre_i18n %></span>
      <span><%= post.shop_name %></span>
      <span><%= post.address %></span>
      <span><%= post.posting_text %></span>
    <% end %>
  <% end %>
</div>


